
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './colores-verde-morado-azulPastel.scss_theme-colors' as *;

html {
  @include mat.theme((
    color: (
      primary: $primary-palette,
      tertiary: $tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ),(
    corner-full:6px,
    label-large-size: 30px
  ));

  @include mat.button-overrides((
    filled-horizontal-padding: 90px
  ));


}


